<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yoyolab.mysearch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".SearchPage"
            android:windowSoftInputMode="stateHidden|adjustPan" >  <!--Avoid soft keyboard pushing up the layout-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="mysearch" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LocalProductPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OnlineProductPage"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".WishListPage"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>
</manifest>
